Source: midori
Maintainer: Anthony Nordquist <salinelinux@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.1
Build-Depends: libglib2.0-dev, libidn11-dev, librsvg2-bin, libnotify-dev, libxml2-dev, valac, intltool, libgtk2.0-dev, libwebkit-dev, libsqlite3-dev, debhelper (>= 8)

Package: midori
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Web browser based  on webkit, that uses the Xfce libraries.
 
