[Desktop Entry]
Version=1.0
Type=Application
Name=Web - Duck Duck Go
Comment=Search web with DuckDuckGo
Exec=/usr/share/actions/Scripts/Run-DuckDuckGo
Icon=stock_internet
Terminal=false
StartupNotify=false