Package: grub-doctor
Version: 2.0-0
Architecture: all
Maintainer: Anthony Nordquist <salinelinux@gmail.com>
Installed-Size: 93
Depends: coreutils, findutils, bash, sed, syslinux, util-linux, grub-pc
Section: system
Priority: optional
Description: Boot loader restoration utility.
