[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch MailReader %u
Icon=internet-mail
StartupNotify=false
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/mailto;
Name=Mail Reader
Name[ar]=قارء البريد الالكتروني
Name[ast]=Llector de corréu
Name[be]=Паштовы кліент
Name[bn]=মেইল রিডার
Name[ca]=Client de correu
Name[cs]=E-mailový klient
Name[cy]=Darllenydd Post
Name[da]=Postprogram
Name[de]=E-Mail-Programm
Name[dz]=ཡིག་འཕྲིན་ལྷག་མི།
Name[el]=Αναγνώστης αλληλογραφίας
Name[en_GB]=Mail Reader
Name[es]=Lector de correo
Name[et]=E-posti lugeja
Name[eu]=Posta bezeroa
Name[fi]=Sähkopostiohjelma
Name[fr]=Client de messagerie
Name[gl]=Lector de correo
Name[he]=קורא דואר
Name[hr]=Čitač mailova
Name[hu]=Levelező
Name[id]=Pembaca Surat
Name[it]=Lettore di email
Name[ja]=メーラー
Name[kk]=Пошта қолданбасы
Name[lv]=Pasta lasītājs
Name[mk]=Читач на пошта
Name[nb]=Epostleser
Name[nl]=E-mailprogramma
Name[pa]=ਮੇਲ ਰੀਡਰ
Name[pl]=Program pocztowy
Name[pt]=Leitor de correio electrónico
Name[pt_BR]=Cliente de e-mail
Name[ro]=Client de mail
Name[ru]=Почтовая программа
Name[sk]=E-mailový klient
Name[sl]=Bralnik pošte
Name[sq]=Lexues Poste
Name[sv]=E-postklient
Name[tl_PH]=Pambasa ng Sulat
Name[tr]=Eposta Okuyucusu
Name[ug]=ئېلخەت ئوقۇغۇ
Name[uk]=Поштовий клієнт
Name[ur]=میل ریڈر
Name[ur_PK]=میل ریڈر
Name[zh_CN]=邮件阅读器
Name[zh_TW]=郵件讀取程式
Comment=Read your email
Comment[ar]=إقرء بريدك الإلكتروني
Comment[bn]=ইমেইল পড়ুন
Comment[ca]=Llegiu el vostre correu electrònic
Comment[cs]=Číst poštu
Comment[da]=Læs din e-post
Comment[de]=E-Mails lesen
Comment[el]=Διαβάστε τα ηλεκτρονικά σας μηνύματα
Comment[en_GB]=Read your email
Comment[es]=Leer correo
Comment[eu]=Irakurri zure posta
Comment[fi]=Käytä sähköpostiasi
Comment[fr]=Lire ses mails
Comment[gl]=Ler o correo electrónico
Comment[he]=קריאת הדוא״ל שלך
Comment[hr]=Čitaj svoju poštu
Comment[hu]=E-mail olvasása
Comment[id]=Baca email anda
Comment[is]=Lesa tölvupóstinn
Comment[it]=Leggi le e-mail
Comment[ja]=電子メールを読みます
Comment[kk]=Поштаңызды оқу
Comment[nb]=Les epost
Comment[nl]=Lees uw email
Comment[pa]=ਆਪਣੀ ਈਮੇਲ ਪੜ੍ਹੋ
Comment[pt]=Ler o seu correio
Comment[pt_BR]=Ler seu e-mail
Comment[ro]=Citiți-vă mailul
Comment[ru]=Прочитать вашу почту
Comment[sk]=Čítať poštu
Comment[sv]=Läs din e-post
Comment[tr]=E-postanızı okuyun
Comment[ug]=ئېلخەت ئوقۇيدۇ
Comment[uk]=Перегляньте Вашу пошту
Comment[zh_CN]=阅读邮件
Comment[zh_TW]=讀取您的電子郵件
NoDisplay=True