[Desktop Entry]
Version=1.0
NoDisplay=True
Exec=xfce4-panel -p
Icon=xfce4-panel
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
Terminal=false
StartupNotify=true
Name=Panel
Name[ca]=Quadre
Name[cs]=Panel
Name[da]=Panel
Name[de]=Leiste
Name[el]=Ταμπλό
Name[en_GB]=Panel
Name[es]=Panel
Name[eu]=Panela
Name[fi]=Paneeli
Name[fr]=Tableau de bord
Name[gl]=Panel
Name[he]=לוח
Name[hr]=Ploča
Name[hu]=Panel
Name[id]=Panel
Name[it]=Pannello
Name[ja]=パネル
Name[kk]=Панель
Name[ko]=패널
Name[lt]=Skydelis
Name[ms]=Panel
Name[nb]=Panel
Name[nl]=Werkbalk
Name[pl]=Panel
Name[pt]=Painel
Name[pt_BR]=Painel
Name[ro]=Panou
Name[ru]=Панель
Name[sk]=Panel
Name[sv]=Panel
Name[te]=ప్యానల్
Name[tr]=Panel
Name[uk]=Панель
Name[zh_CN]=面板
Name[zh_TW]=面板
Comment=Customize the panel
Comment[ca]=Personalitzar el quadre
Comment[cs]=Přizpůsobit panel
Comment[da]=Tilpas panelet
Comment[de]=Leiste einrichten
Comment[el]=Προσαρμογή του ταμπλό
Comment[en_GB]=Customise the panel
Comment[es]=Personalizar el panel
Comment[eu]=Pertsonalizatu panela
Comment[fi]=Muokkaa paneelin asetuksia
Comment[fr]=Modifier le tableau de bord
Comment[gl]=Personalizar o panel
Comment[he]=התאמת הלוח
Comment[hr]=Prilagodi ploču
Comment[hu]=A panel személyre szabása
Comment[id]=Sesuaikan panel
Comment[it]=Personalizzazione del pannello
Comment[ja]=パネルをカスタマイズします
Comment[kk]=Панельді баптау
Comment[ko]=패널을 취향대로 설정하기
Comment[lt]=Tinkinti skydelį
Comment[ms]=Ubahsuai panel
Comment[nb]=Tilpass panelet
Comment[nl]=Pas de werkbalk aan
Comment[pt]=Personalizar o painel
Comment[pt_BR]=Personalizar o painel
Comment[ro]=Personalizați panoul
Comment[ru]=Настройка панели
Comment[sk]=Prispôsobiť panel
Comment[sv]=Anpassa panelen
Comment[te]=ప్యానల్‌ను అనురూపించు
Comment[tr]=Paneli özelleştir
Comment[uk]=Упорядкувати панель
Comment[zh_CN]=自定义面板
Comment[zh_TW]=自訂面板
