[Desktop Entry]
Version=1.0
NoDisplay=True
Type=Application
Exec=xfce4-about
Icon=help-about
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=About Xfce
Name[ca]=Quant a Xfce
Name[cs]=O prostředí Xfce
Name[da]=Om Xfce
Name[de]=Über Xfce 4
Name[el]=Περί Xfce
Name[en_GB]=About Xfce
Name[es]=Acerca de Xfce
Name[eu]=Xfce-ri buruz
Name[fi]=Tietoja Xfce:stä
Name[fr]=À propos de Xfce
Name[gl]=Acerca de Xfce
Name[he]=על אודות Xfce 4
Name[hr]=O Xfce
Name[hu]=Az Xfce névjegye
Name[id]=Tentang Xfce
Name[it]=Informazioni su Xfce
Name[ja]=Xfce について
Name[kk]=Xfce 4 туралы
Name[ko]=Xfce 4란...
Name[ms]=Perihal Xfce
Name[nb]=Om Xfce 
Name[nl]=Over Xfce
Name[pl]=O środowisku Xfce
Name[pt]=Sobre o Xfce
Name[pt_BR]=Sobre o Xfce
Name[ro]=Despre Xfce
Name[ru]=О Xfce 4
Name[sk]=O prostredí Xfce 4
Name[sv]=Om Xfce
Name[te]=Xfce గురించి
Name[tr]=Xfce Hakkında
Name[ug]=Xfce 4 ھەققىدە
Name[uk]=Про Xfce
Name[zh_CN]=关于 Xfce
Name[zh_TW]=關於 Xfce
Comment=Information about the Xfce Desktop Environment
Comment[be]=Інфармацыя пра працоўнае асяроддзе Xfce
Comment[ca]=Informació sobre l'entorn d'escriptori Xfce
Comment[cs]=Informace o pracovním prostředí Xfce
Comment[da]=Information om skrivebordsmiljøet Xfce
Comment[de]=Informationen über die Xfce-Desktopumgebung
Comment[el]=Πληροφορίες σχετικά με το περιβάλλον εργασίας Xfce
Comment[en_GB]=Information about the Xfce Desktop Environment
Comment[es]=Información sobre el entorno de escritorio Xfce
Comment[eu]=Xfce mahaigain inguruneari buruzko argibideak
Comment[fi]=Tietoja Xfce-työpöytäympäristöstä
Comment[fr]=Information au sujet de l'environnement de bureau Xfce
Comment[gl]=Información sobre o Ambiente de Escritorio Xfce
Comment[he]=מידע על אודות סביבת שולחן העבודה Xfce
Comment[hr]=Informacije o Xfce radnom okruženju
Comment[hu]=Információk az Xfce asztali környezetről
Comment[id]=Informasi tentang Lingkungan Desktop Xfce
Comment[it]=Informazioni sull'ambiente grafico Xfce
Comment[ja]=Xfce デスクトップ環境に関する情報です
Comment[kk]=Xfce жұмыс үстел ортасы туралы ақпарат
Comment[ko]=Xfce 데스크톱 환경에 대한 정보
Comment[ms]=Infomasi tentang Persekitaran Desktop Xfce
Comment[nb]=Informasjon om Xfce skrivebordsmiljø.
Comment[nl]=Informatie over de Xfce-werkomgeving
Comment[pl]=Wyświetla informacje o środowisku graficznym Xfce
Comment[pt]=Informações sobre o ambiente de trabalho Xfce
Comment[pt_BR]=Informação sobre o ambiente de trabalho Xfce
Comment[ro]=Informații despre mediul desktop Xfce
Comment[ru]=Сведения о среде Xfce
Comment[sk]=Informácie o pracovnom prostredie Xfce
Comment[sv]=Information om skrivbordsmiljön Xfce
Comment[te]=Xfce డెస్క్‍టాప్ పరిసరం గురించిన సమాచారం
Comment[tr]=Xfce Masaüstü Ortamı hakkında bilgi
Comment[ug]=Xfce 桌面环境信息
Comment[uk]=Інформація про середовище стільниці Xfce
Comment[zh_CN]=Xfce 桌面环境信息
Comment[zh_TW]=Xfce 桌面環境的相關資訊
