[Desktop Entry]
Version=1.0
NoDisplay=True
Name=Orage preferences
Name[ar]=إعداد Orage
Name[ca]=Preferències d'Orage
Name[cs]=Nastavení aplikace Orage
Name[da]=Orage-indstillinger
Name[de]=Einstellungen für Orage
Name[el]=Προτιμήσεις Orage
Name[en_GB]=Orage preferences
Name[es]=Preferencias de Orage
Name[eu]=Orage hobespenak
Name[fi]=Oragen asetukset
Name[fr]=Préférences d'Orage
Name[hr]=Orage osobitosti
Name[hu]=Orage beállításai
Name[id]=Pengaturan Orage
Name[it]=Preferenze di Orage
Name[ja]=Orage の設定
Name[kk]=Orage баптаулары
Name[lv]=Orage uzstādījumi
Name[nb]=Orage Innstillinger
Name[nl]=Orage voorkeuren
Name[pt]=Preferências do Orage
Name[ru]=Настройки Orage
Name[sk]=Predvoľby Orage
Name[sv]=Inställningar för Orage
Name[tr]=Orage özellikleri
Name[ug]=Orage تەڭشىكى
Name[uk]=Уподобання Orage
Name[zh_CN]=Orage 日历首选项
Name[zh_TW]=Orage 偏好設定
Comment=Settings for the Xfce 4 Calendar Application (Orage)
Comment[ar]=ضبط تطبيق تقويم إكسفيس 4  (Orage)
Comment[ca]=Paràmetres de l'aplicació de calendari de Xfce 4 (Orage)
Comment[cs]=Nastavení Kalendáře pro Xfce 4 (Orage)
Comment[da]=Indstillinger til kalenderprogrammet (Orage) til Xfce4
Comment[de]=Einstellungen für die  Kalenderanwendung von Xfce 4 (Orage)
Comment[en_GB]=Settings for the Xfce 4 Calendar Application (Orage)
Comment[es]=Configuración para la aplicación de calendario de Xfce 4 (Orage)
Comment[eu]=Xfce 4 egutegi aplikazioaren (Orage) ezarpenak
Comment[fi]=Xfce 4 kalenterisovelluksen (Orage) asetukset
Comment[fr]=Paramètres pour l'Application Calendrier de Xfce 4
Comment[hr]=Postavke za  Xfce 4 kalendarski program (Orage)
Comment[hu]=Az Xfce 4 naptáralkalmazás (Orage) beállításai
Comment[id]=Pengaturan untuk Aplikasi Kalender Xfce 4 (Orage)
Comment[it]=Impostazioni per l'applicazione Calendario di Xfce4 (Orage)
Comment[ja]=Xfce 4 カレンダアプリケーション (Orage) の設定を行います
Comment[kk]=Xfce 4 күнтізбе қолданбасының (Orage) баптаулары 
Comment[lv]=Uzstādījumi Xfce 4 kalendāra lietotnei (Orage)
Comment[nb]=Innstillinger for Xfce 4 Kalenderprogram (Orage)
Comment[nl]=Instellingen voor de Xfce4-Kalendertoepassing (Orage)
Comment[pt]=Definições para a aplicação de calendário Xfce 4 (Orage)
Comment[ru]=Параметры календаря Xfce 4 (Orage)
Comment[sk]=Nastavenia pre aplikáciu Kalendár Xfce 4 (Orage)
Comment[sv]=Inställningar för Xfce 4-kalendern (Orage)
Comment[tr]=Xfce4 Takvim Uygulaması (Orage) için Ayarlar
Comment[ug]=Xfce 4 يىلنامە پروگراممىسى (Orage) نىڭ تەڭشەكلىرى
Comment[uk]=Налаштування для програми Календар (Orage) з Xfce 4 
Comment[zh_CN]=Xfce 4 日历应用程序(Orage 日历)设置
Comment[zh_TW]=設定 Xfce 4 行事曆程式 (Orage)
Exec=orage -p
Icon=xfcalendar
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
OnlyShowIn=XFCE;
GenericName=Orage Calendar Preferences
GenericName[ar]=Orage تفضيلات التقويم
GenericName[ca]=Preferències del calendari d'Orage
GenericName[cs]=Nastavení kalendáře Orage
GenericName[da]=Orage-kalenderindstillinger
GenericName[de]=Einstellungen für den Kalender Orage
GenericName[en_GB]=Orage Calendar Preferences
GenericName[es]=Preferencias de calendario de Orage
GenericName[eu]=Orage egutegi hobespenak
GenericName[fi]=Orage kalenterin asetukset
GenericName[fr]=Préférences d'Orage
GenericName[hr]=Osobitosti Orage kalendara
GenericName[hu]=Orage naptár beállításai
GenericName[id]=Pengaturan Kalender Orage
GenericName[it]=Preferenze del calendario di Orage
GenericName[ja]=Orage カレンダ設定
GenericName[kk]=Orage күнтізбе баптаулары
GenericName[lv]=Orage kalendāra uzstādījumi
GenericName[nb]=Orage Kalenderinnstillinger
GenericName[nl]=Orage kalendervoorkeuren
GenericName[pt]=Preferências do calendário Orage
GenericName[ru]=Параметры календаря Orage
GenericName[sk]=Predvoľby kalendára Orage
GenericName[sv]=Inställningar för Orage-kalendern
GenericName[tr]=Orage Takvim Özellikleri
GenericName[ug]=Orage يىلنامە تەڭشىكى
GenericName[uk]=Уподобання годинника Orage
GenericName[zh_CN]=Orage 日历首选项
GenericName[zh_TW]=Orage 行事曆偏好設定
X-XfceSettingsName=Calendar
X-XfceSettingsName[am]=ካለንደር
X-XfceSettingsName[ar]=تقويم 
X-XfceSettingsName[ast]=Calendariu
X-XfceSettingsName[be]=Каляндар
X-XfceSettingsName[bn_IN]=Calendar
X-XfceSettingsName[ca]=Calendari
X-XfceSettingsName[cs]=Kalendář
X-XfceSettingsName[da]=Kalender
X-XfceSettingsName[de]=Kalender
X-XfceSettingsName[dz]=ཟླ་ཐོ།
X-XfceSettingsName[el]=Ημερολόγιο
X-XfceSettingsName[en_GB]=Calendar
X-XfceSettingsName[eo]=Kalendaro
X-XfceSettingsName[es]=Calendario
X-XfceSettingsName[et]=Kalender
X-XfceSettingsName[eu]=Egutegia
X-XfceSettingsName[fi]=Kalenteri
X-XfceSettingsName[fr]=Calendrier
X-XfceSettingsName[gl]=Calendario
X-XfceSettingsName[gu]=કેલેન્ડર
X-XfceSettingsName[he]=לוח שנה
X-XfceSettingsName[hr]=Kalendar
X-XfceSettingsName[hu]=Naptár
X-XfceSettingsName[id]=Kalender
X-XfceSettingsName[it]=Calendario
X-XfceSettingsName[ja]=カレンダ
X-XfceSettingsName[ka]=კალენდარი
X-XfceSettingsName[kk]=Күнтізбе
X-XfceSettingsName[ko]=달력
X-XfceSettingsName[ku]=Salname
X-XfceSettingsName[lv]=Kalendārs
X-XfceSettingsName[mk]=Календар
X-XfceSettingsName[mr]=दिनदर्शिका
X-XfceSettingsName[nb]=Kalender
X-XfceSettingsName[nl]=Kalender
X-XfceSettingsName[pl]=Kalendarz
X-XfceSettingsName[pt]=Calendário
X-XfceSettingsName[pt_BR]=Calendário
X-XfceSettingsName[ro]=Calendar
X-XfceSettingsName[ru]=Календарь
X-XfceSettingsName[sk]=Kalendár
X-XfceSettingsName[sq]=Kalendar
X-XfceSettingsName[sv]=Kalender
X-XfceSettingsName[tr]=Takvim
X-XfceSettingsName[ug]=يىلنامە
X-XfceSettingsName[uk]=Календар
X-XfceSettingsName[ur]=کیلینڈر
X-XfceSettingsName[ur_PK]=کیلینڈر
X-XfceSettingsName[vi]=Lịch
X-XfceSettingsName[zh_CN]=日历
X-XfceSettingsName[zh_TW]=行事曆
