
[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/Clean
Name=Disk Cleanup
Icon=/usr/share/pixmaps/clean.png
TryExec=/usr/bin/Clean
Categories=System;
GenericName=Disk Cleanup
