[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SalineOS Installer
GenericName=Live Installer
Comment=Install live system to hard drive
Exec=gksudo /usr/bin/salineos-installer 
Icon=/usr/share/pixmaps/salineos-installer.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=SystemBackup;Applications;GTK;System
NotShowIn=KDE
X-KDE-SubstituteUID=true
GenericName[en_US]=Live Installer
NoDisplay=true