Package: saline-firereader
Version: 2.0-1
Architecture: all
Maintainer: Anthony Nordquist <salinelinux@gmail.com>
Installed-Size: 94
Depends: coreutils, findutils, bash, sed, util-linux
Section: system
Priority: optional
Description: Simple handler to have pdf files read by Firefox.
