Package: clean
Version: 2.0-11
Architecture: all
Maintainer: Anthony Nordquist <salinelinux@gmail.com>
Installed-Size: 93
Depends: coreutils, findutils, bash, sed, syslinux, util-linux, aptitude, apt, psmisc, procps
Section: system
Priority: optional
Description: Simple disk cleanup utility written in bash and yet-another-dialog.
