[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/duck-duck-go-search
Name=Web Search
Icon=edit-find
TryExec=duck-duck-go-search
Categories=WebAppsMain;

