Package: packagekit-url
Version: 2.0-3
Architecture: all
Maintainer: Anthony Nordquist <salinelinux@gmail.com>
Installed-Size: 94
Depends: coreutils, findutils, bash, sed, util-linux, packagekit-tools, psmisc, procps
Section: system
Priority: optional
Description: Handles apt and pkgkit links via pkcon.
