Source: wine
Section: otherosfs
Priority: optional
Maintainer: Debian Wine Party <pkg-wine-party@lists.alioth.debian.org>
Uploaders: Ove Kaaven <ovek@arcticnet.no>, Arthur Loiret <arthur.loiret@gmail.com>
Build-Depends: debhelper, flex, bison,
 libx11-dev, libxext-dev, libxi-dev, libxrandr-dev,
 libxrender-dev, libxt-dev,
 libxkbfile-dev,
 libxxf86dga-dev,
 libxxf86vm-dev,
 libxinerama-dev,
 libxcomposite-dev,
 libgl1-mesa-dev | libgl-dev,
 libglu1-mesa-dev | libglu-dev,
 freeglut3-dev | libglut-dev, libxmu-dev,
 libxcursor-dev, libncurses5-dev, libcups2-dev,
 libjpeg-dev, libpng-dev,
 libfreetype6-dev, libfontconfig1-dev, libopenal-dev,
 libasound2-dev [i386 amd64 powerpc sparc],
 oss4-dev,
 libsane-dev, libusb-dev, libgsm1-dev, libmpg123-dev,
 libcapi20-dev [i386 amd64 powerpc sparc],
 libdbus-1-dev | dbus-1-dev, libgphoto2-2-dev, liblcms1-dev, libldap2-dev,
 libssl-dev, libgnutls-dev, libxml2-dev, libxslt1-dev, unixodbc-dev, prelink [i386 amd64],
 dctrl-tools | grep-dctrl, lzma, sharutils,
 gcc-4.5-multilib [amd64 kfreebsd-amd64], gcc-4.5, g++-4.5,
 ia32-libs-dev [amd64 kfreebsd-amd64], lib32z1-dev [amd64 kfreebsd-amd64],
 libgstreamer-plugins-base0.10-dev, gettext, lib32v4l-dev [amd64],
 lib32ncurses5-dev [amd64], lib32asound2-dev [amd64],
 valgrind
Standards-Version: 3.9.1
Homepage: http://www.winehq.org/
Vcs-Browser: http://git.debian.org/?p=pkg-wine/wine.git
Vcs-Git: git://git.debian.org/git/pkg-wine/wine.git

Package: wine
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${misc:Depends}
Recommends: ttf-liberation
Suggests: wine-doc, binfmt-support, ttf-mscorefonts-installer, winbind, avscan | klamav | clamav, gstreamer0.10-plugins-good, gstreamer0.10-plugins-ugly
Description: Windows API implementation - standard suite
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This is a dummy package that depends on the standard Wine components.

Package: wine-bin
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${shlibs:Depends}, libwine-bin-unstable (= ${binary:Version}), x11-utils | xbase-clients (>= 4.0) | xcontrib, ${misc:Depends}
Suggests: libwine-print-unstable, libwine-gl-unstable
Description: Windows API implementation - binary loader
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package provides the binary loader program for running Windows
 executables.

Package: libwine-dbg
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Section: debug
Priority: extra
Depends: libwine-unstable (= ${binary:Version}), ${misc:Depends}
Description: Windows API implementation - debugging symbols
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package provides debugging symbols.

Package: libwine-dev
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Section: libdevel
Depends: ${shlibs:Depends}, libwine-unstable (= ${binary:Version}), libc6-dev, libc6-dev-i386 [amd64 kfreebsd-amd64], ${misc:Depends}
Suggests: wine-doc
Description: Windows API implementation - development files
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package provides the C header files.

Package: libwine
Section: libs
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${wine:Depends}, ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${wine:Pre-Depends}
Recommends: ${shlibs:Recommends}
Suggests: wine-doc, libtxc-dxtn0 [i386 kfreebsd-i386], ia32-libs-libtxc-dxtn0
Description: Windows API implementation - library
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package provides the library that implements the Windows API.

Package: libwine-alsa
Section: libs
Architecture: i386 amd64 powerpc sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Windows API implementation - ALSA sound module
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package contains an ALSA sound driver.

Package: libwine-bin
Section: libs
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Windows API implementation - system services
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package provides system services and utilities needed to use many
 Windows applications.

Package: libwine-capi
Section: libs
Priority: extra
Architecture: i386 amd64 powerpc sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Windows API implementation - ISDN module
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package contains a CAPI interface that allows Windows applications
 to communicate with ISDN cards supported by capi4linux.

Package: libwine-cms
Section: libs
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Windows API implementation - color management module
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package contains a Color Management System implementation that
 lets Windows applications calibrate the colors used for display and print.

Package: libwine-gl
Section: libs
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Windows API implementation - OpenGL module
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package contains the OpenGL and Direct3D modules that allow
 Windows applications to use 3D acceleration.

Package: libwine-gphoto2
Section: libs
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Windows API implementation - camera module
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package contains a TWAIN interface that allows Windows applications
 to communicate with cameras supported by gphoto2.

Package: libwine-ldap
Section: libs
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Windows API implementation - LDAP module
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package contains a module that allows Windows applications to access
 LDAP directory services.

Package: libwine-openal
Section: libs
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Windows API implementation - OpenAL module
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package contains the OpenAL module, which allows Windows applications
 to use advanced 3D sound effects.

Package: libwine-oss
Section: libs
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${shlibs:Depends}, oss-compat, ${misc:Depends}
Description: Windows API implementation - OSS sound module
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package contains an OSS sound driver.

Package: libwine-print
Section: libs
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: cups-bsd | cupsys-bsd | lpr
Description: Windows API implementation - printing module
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package contains a CUPS-enabled spooler and a PostScript driver,
 allowing Windows applications to print.

Package: libwine-sane
Section: libs
Architecture: i386 hurd-i386 kfreebsd-i386 netbsd-i386 amd64 kfreebsd-amd64 powerpc hurd-powerpc kfreebsd-powerpc netbsd-powerpc sparc hurd-sparc kfreebsd-sparc netbsd-sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Windows API implementation - scanner module
 Wine is a free MS-Windows API implementation.
 This is still a work in progress and many applications may still not work.
 .
 This package contains a TWAIN interface that allows Windows applications
 to communicate with scanners supported by SANE.

